
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button {
  color: white;
  background: green;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 30px;
}


/* ---- typography ---- */

body {
  font-family: Helvetica, Arial, sans-serif;
  background: darkblue;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30%;
  background-image: url('./img/mainBackground.png');
  background-repeat: no-repeat;
}

canvas {
    border: 1px solid black;
    width:900px;
    height: 600px;
    margin-top: -300px;
}

#game{
  background-image: url('./img/ballImage.png');
}
